<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<![endif]-->
script.
  function loadCSS(hf) {
    var ms = document.createElement("link");
    ms.rel = "stylesheet";
    ms.href = hf;
    document.getElementsByTagName("head")[0].appendChild(ms);
  }
  loadCSS("main.css");
script.
  var scr = {
    "scripts": [
      { "src": "js/modernizr.js", "async": false },
      { "src": "js/jquery-2.2.0.js", "async": false },
      { "src": "js/libs/libs.js", "async": false },
      { "src": "js/common.js", "async": false }
    ]
  };
  !function(t, n, r) {
    "use strict";
    var c = function(t) {
      if ("[object Array]" !== Object.prototype.toString.call(t)) return !1;
      for (var r = 0; r < t.length; r++) {
        var c = n.createElement("script"),
          e = t[r];
        c.src = e.src, c.async = e.async, n.body.appendChild(c)
      }
      return !0
    };
    t.addEventListener ? t.addEventListener("load", function() {
      c(r.scripts);
    }, !1) : t.attachEvent ? t.attachEvent("onload", function() {
      c(r.scripts)
    }) : t.onload = function() {
      c(r.scripts)
    }
  }(window, document, scr);
//Google Analytics: заменить UA-XXXXX-X на свой ID в системе
script.
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X','auto');ga('send','pageview');
