+keyframes(zoomOut)
  0%
    opacity: 1
  50%
    opacity: 0
    +transform(scale3d(0.3, 0.3, 0.3))
  100%
    opacity: 0


=zoomOut($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault)
  +animation-name(zoomOut)
  +count($count)
  +duration($duration)
  +delay($delay)
  +function($function)
  +fill-mode($fill)
  +visibility($visibility)
