+keyframes(zoomOutUp)
  40%
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
    opacity: 1
    +transform(scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0))
  100%
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
    opacity: 0
    +transform(scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0))
    +transform-origin(center bottom)


=zoomOutUp($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault)
  +animation-name(zoomOutUp)
  +count($count)
  +duration($duration)
  +delay($delay)
  +function($function)
  +fill-mode($fill)
  +visibility($visibility)
