@import "bourbon"
@import "modules/fonts"
@import "modules/vars"
@import "modules/mixins"

body
  font-family: "RobotoRegular", sans-serif
  font-size: $base-font-size
  line-height: 1.6

  position: relative

  overflow-x: hidden
  min-width: 320px

header
  color: red

.hidden
  display: none
