@import bourbon


@media only screen and (max-width: 1200px)
  //...


@media only screen and (max-width: 992px)
  //...


@media only screen and (max-width: 768px)
  //...

  .animated
    transition-property: none !important
    transform: none !important
    animation: none !important


@media only screen and (max-width: 480px)
  //...


@media only screen and (max-width: 320px)
  //...
