@function black($opacity)
  @return rgba(0,0,0, $opacity)

@function white($opacity)
  @return rgba(255,255,255, $opacity)

@function calculateRem($size)
  $remSize: $size / 16px
  @return $remSize * 1rem

=abs-pos($top: auto, $right: auto, $bottom: auto, $left: auto)
  position: absolute
  left: $left
  top: $top
  right: $right
  bottom: $bottom

=opacity($opacity)
  opacity: $opacity
  $opacity-ie: $opacity * 100
  filter: alpha(opacity=$opacity-ie)

=center-block
  display: block
  margin-left: auto
  margin-right: auto

=font-size($size)
  font-size: $size
  font-size: calculateRem($size)

=navigation-list($margin: 0)
  list-style-type: none
  padding: 0
  margin: 0
  overflow: hidden
  > li
    display: block
    float: left
    margin-right: $margin+px
    &:last-child
      margin-right: 0px

=bp($point)
  @if $point == large
    @media (min-width: 64.375em)
      @content
  @else if $point == medium
    @media (min-width: 50em)
      @content
  @else if $point == small
    @media (min-width: 37.5em)
      @content
