// duration     Specifies how many seconds or milliseconds an animation takes to complete one cycle. Default 0

// delay        Specifies when the animation will start. Default 0

// function     Describes how the animation will progress over one cycle of its duration. Default "ease"

// count        Specifies the number of times an animation is played. Default 1

// fill-mode    Specifies if the effects of an animation are before the animation starts and after it ends.

// visibility   Determines whether or not a transformed element is visible when it is not facing the screen.

$countDefault: 1 !default
$durationDefault: 1s !default
$delayDefault: 0s !default
$functionDefault: ease !default
$fillDefault: both
$visibilityDefault: hidden !default

=count($count: 1)
  animation-iteration-count: $count

=duration($duration: 1s)
  animation-duration: $duration

=delay($delay: .2s)
  animation-delay: $delay

=function($function: ease)
  animation-timing-function: $function

=fill-mode($fill: both)
  animation-fill-mode: $fill

=visibility($visibility: hidden)
  backface-visibility: $visibility

=transform($property)
  transform: $property

=transform-origin($transform-origin: center center)
  transform-origin: $transform-origin

=transform-style($transform-style: flat)
  transform-style: $transform-style

=animation-name($animation-name)
  animation-name: $animation-name

=keyframes($animation-name)
  @-webkit-keyframes #{$animation-name}
    @content

  @-moz-keyframes #{$animation-name}
    @content

  @-ms-keyframes #{$animation-name}
    @content

  @-o-keyframes #{$animation-name}
    @content

  @keyframes #{$animation-name}
    @content
