+keyframes(lightSpeedIn)
  0%
    opacity: 0
    +transform(translateX(100%) skewX(-30deg))
  60%
    opacity: 1
    +transform(translateX(-20%) skewX(30deg))
  80%
    opacity: 1
    +transform(translateX(0%) skewX(-15deg))
  100%
    opacity: 1
    +transform(translateX(0%) skewX(0deg))


=lightSpeedIn($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault)
  +animation-name(lightSpeedIn)
  +count($count)
  +function(ease-out)
  +duration($duration)
  +delay($delay)
  +function($function)
  +fill-mode($fill)
  +visibility($visibility)
