+keyframes(hinge)
  0%
    animation-timing-function: ease-in-out
    +transform(rotate(0))
    +transform-origin(top left)
  20%, 60%
    animation-timing-function: ease-in-out
    +transform(rotate(80deg))
    +transform-origin(top left)
  40%
    animation-timing-function: ease-in-out
    +transform(rotate(60deg))
    +transform-origin(top left)
  80%
    opacity: 1
    animation-timing-function: ease-in-out
    +transform(rotate(60deg) translateY(0))
    +transform-origin(top left)
  100%
    opacity: 0
    +transform(translateY(700px))


=hinge($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault)
  +animation-name(hinge)
  +count($count)
  +duration($duration)
  +delay($delay)
  +function($function)
  +fill-mode($fill)
  +visibility($visibility)
